@model InstagramIndexVM


<body>
    @foreach(var log in Model.Medias)
    {
        <div>@log.Id</div>
        <div>@log.Date</div>
        <a href="@log.Uri">View on Instagram</a>
        <br />
    }
</body>