@model InstagramIndexVM


<body>
    @foreach (var log in Model.Medias)
    {
        <div>@log.Id</div>
        <div>@log.Date</div>
        <a href="@log.Uri">Link Text</a>
        <a class="nav-link text-dark" asp-controller="Instagram" asp-action="Download" asp-route-id="@log.Id">Download</a>
        <br />
    }
</body>